<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @pokemon.level %>
</p>

<p>
  <strong>Nature:</strong>
  <%= @pokemon.nature %>
</p>

<p>
  <strong>Name:</strong>
  <%= @pokemon.name %>
</p>

<%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
<%= link_to 'Back', pokemons_path %>
